<%= form_tag(url_for({:controller => 'fires', :action => 'destroy'}), method: "delete") %>
<div class="modal-header">
  <a href="#" class="close">×</a>
  <h3>Confirm Delete</h3>
</div>
<div class="modal-body" id="confirm-body">
  <p>
    Are you sure you want to delete this incident?
      <label for="event-id-input">Enter Event ID</label>
      <input type="text" name="event-id-input" id="event-id-input">
  </p>
</div>
<div class="modal-footer">
  <input type="submit" value="Delete" class="btn btn-primary">
  <a href="#" id="cancel" data-dismiss="modal" class="btn secondary">Cancel</a>
</div>
