<form action="<%= url_for(:action => 'search_by_dates') %>" method="get">
  <label for="date_type">Date Field</label>
  <select name="date_type" id="date_type">
    <option value="ig_date">Ignition Date</option>
    <option value="expected_containment_date">Expected Containment Date</option>
    <option value="report_date">Report Date</option>
  </select>
  <label for="date_start">Start Date</label>
  <input type="text" name="date_start" id="date_start" data-datepicker="datepicker">
  <label for="date_end">End Date</label>
  <input type="text" name="date_end" id="date_end" data-datepicker="datepicker">
  <br>
  <input type="submit" name="submit" id="submit" value="Search" class="btn btn-primary">
</form>