<div class="alert alert-info">
  Please upload a Comma Separated File for bulk processing. Don't forget to choose whether incidents are Perscribed burns or Wildfires.<br>
  If you need a template for the file, one can be downloaded <%= link_to('fires') %>
</div>

<%= form_tag({:action => 'upload'}, :multipart => true) do %>
  <%= label_tag :file, 'Upload CSV' %>
  <%= file_field_tag 'file' %><br>
  <%= label_tag :type, 'Fire Type' %>
  <%= radio_button_tag 'type', 'RX', true %> Prescribed Burns<br>
  <%= radio_button_tag 'type', 'WF', true %> Wild Fires<br>
  
  <div class="form-actions">
    <%= submit_tag 'Upload', :disable_with => 'Uploading...', :class => 'btn btn-primary' %>
    <%= link_to 'Cancel', {:action => 'index'}, :class => 'btn' %>
  </div>
<% end %>
