<div id="user-space">
  <% if  session[:user_id] %>
    <%= link_to raw('<i class="icon-plus-sign"></i> Add Fire'), {:controller => 'fires', :action => 'new'}, :class => 'btn' %>
  <% end %>
  <%= link_to raw('<i class="icon-list-alt"></i> Download CSV'), params.merge(:format => :csv), :class => 'btn' %>
  <%= link_to ("Export All"), :action => 'export_all' %>
  <br>

</div>
<p>
  Status Key:
  <%= image_tag("status-key.png") %>
</p>
<table id="fires" class="table table-striped tablesorter">
  <thead>
    <tr>
      <th>Event Name</th>
      <th>Event ID</th>
      <th>Incident Type</th>
      <th>Acres</th>
      <th class="fiery">BAER</th>
      <th class="fiery">RAVG</th>
      <th class="fiery">MTBS</th>
      <th class="fiery">NPS</th>
      <th class="fiery">Misc</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @fires.each do |fire| %>
      <tr class="<%= cycle('odd', 'even') %> baer-<%= fire.baer_status %> ravg-<%= fire.ravg_status %> mtbs-<%= fire.mtbs_status %> fire">
        <td><%= fire.incident_name %></td>
        <td><%= fire.event_id %></td>
        <td><%= fire.incident_type %></td>
        <td><%= fire.area_burned %></td>
        <td>
          <% if fire.baer_status.nil? %>
            <%= image_tag("not-mapped.png", :class => 'status') %>
          <% else %>
            <%= image_tag("#{fire.baer_status}.png", :class => 'status') %>
          <% end %>
        </td>
        <td>
          <% if fire.ravg_status.nil? %>
            <%= image_tag("not-mapped.png", :class => 'status') %>
          <% else %>
            <%= image_tag("#{fire.ravg_status}.png", :class => 'status') %>
          <% end %>
        </td>
        <td>
          <% if fire.mtbs_status.nil? %>
            <%= image_tag("not-mapped.png", :class => 'status') %>
          <% else %>
            <%= image_tag("#{fire.mtbs_status}.png", :class => 'status') %>
          <% end %>
        </td>
        <td>
          <% if fire.nps_status.nil? %>
            <%= image_tag("not-mapped.png", :class => 'status') %>
          <% else %>
            <%= image_tag("#{fire.nps_status}.png", :class => 'status') %>
          <% end %>
        </td>
        <td>
          <% if fire.misc_status.nil? %>
            <%= image_tag("not-mapped.png", :class => 'status') %>
          <% else %>
            <%= image_tag("#{fire.misc_status}.png", :class => 'status') %>
          <% end %>
        </td>
        <td>
          <div class="btn-group">
          <%= link_to "View", {:controller => 'fires', :action => 'show', :id => fire.id}, :class => 'btn' %>
          <% if  session[:isadmin] == true %>
          <%= link_to "Edit", {:controller => 'fires', :action => 'edit', :id => fire.id}, :class => 'btn' %>
          <%= link_to "Delete", {:controller => 'fires', :action => 'delete', :id => fire.id}, :class => 'btn delete' %>
          <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot></tfoot>
</table>
