
<% if @fire.errors.any? %>
  <div id="errorExplanation" class="alert alert-error">
    <h2><%= pluralize(@fire.errors.count, "error") %> prohibited this request from being saved:</h2>
    <ul>
      <% @fire.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_for(@fire, :html => {:multipart => true, :id => 'fire_form', :class => ''}) do |f| %>
  <fieldset>
    <div id="required-fire-fields" class="alert alert-block alert-error">
        <h3>Required Fields:</h3>
        <%
          states = [
            ["",""],
            ["Alabama" , "AL"],
            ["Alaska" , "AK"],
            ["Arizona" , "AZ"],
            ["Arkansas" , "AR"],
            ["California" , "CA"],
            ["Colorado" , "CO"],
            ["Connecticut" , "CT"],
            ["Delaware" , "DE"],
            ["District of Columbia" , "DC"],
            ["Florida" , "FL"],
            ["Georgia" , "GA"],
            ["Hawaii" , "HI"],
            ["Idaho" , "ID"],
            ["Illinois" , "IL"],
            ["Indiana" , "IN"],
            ["Iowa" , "IA"],
            ["Kansas" , "KS"],
            ["Kentucky" , "KY"],
            ["Louisiana" , "LA"],
            ["Maine" , "ME"],
            ["Maryland" , "MD"],
            ["Massachusetts" , "MA"],
            ["Michigan" , "MI"],
            ["Minnesota" , "MN"],
            ["Mississippi" , "MS"],
            ["Missouri" , "MO"],
            ["Montana" , "MT"],
            ["Nebraska" , "NE"],
            ["Nevada" , "NV"],
            ["New Hampshire" , "NH"],
            ["New Jersey" , "NJ"],
            ["New Mexico" , "NM"],
            ["New York" , "NY"],
            ["North Carolina" , "NC"],
            ["North Dakota" , "ND"],
            ["Ohio" , "OH"],
            ["Oklahoma" , "OK"],
            ["Oregon" , "OR"],
            ["Pennsylvania" , "PA"],
            ["Puerto Rico" , "PR"],
            ["Rhode Island" , "RI"],
            ["South Carolina" , "SC"],
            ["South Dakota" , "SD"],
            ["Tennessee" , "TN"],
            ["Texas" , "TX"],
            ["Utah" , "UT"],
            ["Vermont" , "VT"],
            ["Virginia" , "VA"],
            ["Washington" , "WA"],
            ["West Virginia" , "WV"],
            ["Wisconsin" , "WI"],
            ["Wyoming" , "WY"]
          ]
        %>
        <%= f.label :ig_state, "State" %>
        <%= f.select(:ig_state, states, {}, :class => 'span6 required') %>
        <%= f.label :ig_lat, "Latitude (in DD xx.xxx)" %>
        <%= f.text_field :ig_lat, :class => 'required' %>
        <%= f.label :ig_long, "Longitude (in DD –xxx.xxx)" %>
        <%= f.text_field :ig_long, :class => 'required' %>
        <%= f.label :ig_date, "Ignition Date" %>
        <%= f.text_field :ig_date, 'data-datepicker' => 'datepicker', :class => 'required' %>
        <%= f.label :area_burned, "Acres" %>
        <%= f.text_field :area_burned, :value => '999999' %><span id="acres_modified_warning"></span>
        <%= f.label :incident_type, "Event Type" %>
        <% incident_types = ['Complex',
                             'Debris/Product Fire',
                             'False Alarm',
                             'Flooding',
                             'Law Enforcement',
                             'Out of Area Response',
                             'Other',
                             'Preparedness/Preposition',
                             'Prescribed Fire',
                             'Search and Rescue',
                             'Structure Fire',
                             'Incident/Event Support',
                             'Thunderstorm/Tornado/High Winds',
                             'Unknown',
                             'Vehicle Fire',
                             'Wildland Fire Use',
                             'Wildfire'] %>
        <%= f.select(:incident_type, incident_types, {}, :class => 'span6') %>
        <% data_source = [['ICS-209 = Incident Status Summary', "ICS209"],
                          ['DISCO = Discovered Fire', "DISCO"],
                          ['FEDFIRE = Federal Fire Occurrence', "FEDFIRE"],
                          ['FLRX = Prescribed Fire, State of Florida', "FLRX"],
                          ['FLWF = Wildfire, State of Florida', "FLWF"],
                          ['FWS = Fish & Wildlife Service', "FWS"],
                          ['NFPORS = Natl Fire Plan Ops & Reporting System', "NFPORS"],
                          ['INCIWEB = InciWeb', "INCIWEB"],
                          ['GEOMAC = GeoMAC', "GEOMAC"],
                          ['TXWF = Wildfire, State of Texas', 'TXWF'],
                          ['REQUEST = Fire Mapping Requested', 'REQUEST']
                          ] %>
        <%= f.label :srcdb, "Data Source" %>
        <%= f.select(:srcdb, data_source, {}, :class => 'span6') %>
    </div>

    <div id="optional-fire-fields" class="alert alert-block">
      <h3>Optional Fields:</h3>
      <%= f.label :incident_name, "Event Name" %>
      <%= f.text_field(:incident_name, :class => 'span6', :value => 'UNNAMED') %>
      <%= f.label :percent_contained, "Percent Contained" %>
      <%= f.text_field :percent_contained %>
      <%= f.label :expected_containment_date, "Expected Containment Date" %>
      <%= f.text_field :expected_containment_date, 'data-datepicker' => 'datepicker' %>
      <%= f.label :actual_containment_date, "Actual Containment Date" %>
      <%= f.text_field :actual_containment_date, 'data-datepicker' => 'datepicker' %>
      <%= f.label :ig_agency, "Agency" %>
      <%= f.text_field :ig_agency %>
      <%= f.label :ig_admin, "Admin Unit" %>
      <%= f.text_field :ig_admin %>
      <%= f.label :general_location, "Location Description" %>
      <%= f.text_area :general_location %>
      <%= f.label :comment, "Comment" %>
      <%= f.text_area :comment %>
      <%= f.label :project_id, "Project" %>
      <%= f.select(:project_id, options_for_select(@projects, @fire.project_id), {:include_blank => ''}, :class => 'span6') %>
    </div>

    <br>
  </fieldset>

  <div class="form-actions">
    <%= f.submit('Create Event ID',:class => 'btn btn-primary', :id => 'createEventId') %>
    <%= link_to 'Cancel', {:action => 'index'}, :class => 'btn' %>
  </div>
<% end %>


