  <h3><%= @fire.incident_name %></h3>
  <h4>Event ID: <%= @fire.event_id %></h4>


<% if @fire.complex == 1 %>
<div id="complex-pieces">
  <h3>Events in this complex</h3>
  <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <th>Event ID</th>
        <th>Event Name</th>
        <th>Mapping in Progress?</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @complexes.each do |c| %>
        <tr>
          <td>
            <%= link_to(c.event_id, :action => 'show', :id => c.id) %>

          </td>
          <td>
            <%= c.incident_name %>
          </td>

          <td>
            <%= c.mapping_in_progress == 1 %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>
<div id="mappings-holder">
  <%= render :partial => "mappings/index" %>
</div>

<div id="static-map"></div>
<div id="fire-stats">
  <p id="fire-info">
    <% if @fire.part_of_complex == 1 %>
      <strong>Part of Complex: </strong><%= link_to(@complex[0].incident_name, :action => 'show', :id => @fire.which_complex) %><br>
    <% end %>

    <div style="line-height: 120%">
    <strong>Incident Type: </strong><%= @fire.incident_type %><br>
    <strong>Ignition Date: </strong><%= @fire.ig_date %><br>
    <strong>Latitude: </strong><%= @fire.ig_lat %><br>
    <strong>Longitude: </strong><%= @fire.ig_long %><br>
    <strong>Path/Row </strong><%= @fire.path1 %>/<%= @fire.row1 %><br>
    <strong>Acres: </strong><%= @fire.area_burned %><br>
    <strong>Above Mapping Threshold: </strong><%= @fire.above_mapping_threshold %><br>
    <strong>Percent Contained: </strong><%= @fire.percent_contained %>%<br>
    <strong>Expected Containment Date: </strong><%= @fire.expected_containment_date %><br>
    <strong>Actual Containment Date: </strong><%= @fire.actual_containment_date %><br>
    <strong>State: </strong><%= @fire.ig_state %><br>
    <strong>Agency: </strong><%= @fire.ig_agency %><br>
    <strong>Admin Unit: </strong><%= @fire.ig_admin %><br>
    <strong>Region: </strong><%= @fire.fregion %><br>
    <strong>Fuels: </strong><%= @fire.fuels %><br>
    <strong>Location: </strong><%= @fire.general_location %><br>
    <strong>Which Complex?: </strong><%= @fire.which_complex %><br>
    <strong>Firecode: </strong><%= @fire.firecode %><br>
    <strong>BAER Status: </strong><%= @fire.baer_status %><br>
    <strong>MTBS Status: </strong><%= @fire.mtbs_status %><br>
    <strong>RAVG Status: </strong><%= @fire.ravg_status %><br>
    <strong>NPS Status: </strong><%= @fire.nps_status %><br>
    <strong>MISC Status: </strong><%= @fire.misc_status %><br>
    <strong>SRCDB: </strong><%= @fire.srcdb %><br>
    <strong>Mapping in Progress: </strong><%= @fire.mapping_in_progress %><br>
    <strong>Project ID: </strong><%= @fire.project_id %><br>
    <strong>BAER Complete: </strong><%= @fire.baer_complete %><br>
    <strong>MTBS Complete: </strong><%= @fire.mtbs_complete %><br>
    <strong>RAVG Complete: </strong><%= @fire.ravg_complete %><br>
    <strong>NPS Complete: </strong><%= @fire.nps_complete %><br>
    <strong>MISC Complete: </strong><%= @fire.misc_complete %><br>
    <strong>IRWIN ID: </strong><%= @fire.irwinID %><br>
    <strong>Predicted Strategy: </strong><%= @fire.predicted_strategy %><br>
    <strong>Validated Strategy: </strong><%= @fire.validated_strategy %><br>
    <strong>Last Gatekeeper Update: </strong><%= @fire.last_gatekeeper_update %><br>
    <strong>Record Created At: </strong><%= @fire.created_at %><br>
    <strong>Record Updated At: </strong><%= @fire.updated_at %><br>
    <strong>Comments: </strong><%= @fire.comment %><br>
    </div>

  </p>
</div>

<script type="text/javascript" src="/* https://maps.googleapis.com/maps/api/js?key=AIzaSyDwRrGZI_Ts33l8KOLV0sXYXQ35JnuorUc */"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVlgg9fIIvyoTNf0XyJL5pCp9HhGRFQwk"></script>
<script type="text/javascript">
  function initialize() {
    var myLatlng = new google.maps.LatLng(<%= @fire.ig_lat %>, <%= @fire.ig_long %>);
    var myOptions = {
      zoom: 12,
      center: myLatlng,
      mapTypeId: google.maps.MapTypeId.HYBRID,
      disableDefaultUI: true,
      zoomControl:true,
      mapTypeControl:true
    }
    var map = new google.maps.Map(document.getElementById("static-map"), myOptions);

    var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        title:"Ignition Point"
    });
  }
   google.maps.event.addDomListener(window, 'load', initialize);
</script>
