<%= form_for @user do |f| %>
  <%= f.label(:username) %>
  <div class="input"><%= f.text_field(:username, :class => 'span6') %></div>
  <br>
  <%= f.label(:first_name) %>
  <div class="input"><%= f.text_field(:first_name, :class => 'span6') %></div>
  <br>
  <%= f.label(:last_name) %>
  <div class="input"><%= f.text_field(:last_name, :class => 'span6') %></div>
  <br>
  <%= f.label(:email) %>
  <div class="input"><%= f.text_field(:email, :class => 'span6') %></div>
  <br>
  <%= f.label(:phone) %>
  <div class="input"><%= f.text_field(:phone, :class => 'span6') %></div>
  <br>
  <%= f.label(:password) %>
  <div class="input"><%= f.password_field(:password, :class => 'span6') %></div>
  <%= f.label :isadmin, "Admin?" %>
  <div class="input"><%= f.check_box :isadmin %></div>
  <div class="actions">
    <%= f.submit('Save',:class => 'btn primary') %>
  </div>
<% end %>