<%= link_to "Add New User", {:action => 'new'}, :class => 'btn primary' %>
<table id="users" class="table table-striped">
  <thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>     
    <th>Admin?</th>
    <th></th>
  </tr>
</thead>
<tbody>
  <% @users.each do |u| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= u.first_name %></td>        
      <td><%= u.last_name %></td>        
      <td><%= u.email %></td>        
      <td><%= u.isadmin %></td>        
      <td>
        <div class="btn-group">
          <a href="#" class="btn btn-primary"><i class="icon-user icon-white"></i> Tasks</a>
          <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to raw('<i class="icon-pencil"></i> Edit'), {:controller => 'users', :action => 'edit', :id => u.id} %></li>
            <li><%= link_to raw('<i class="icon-trash"></i> Delete'), {:controller => 'users', :action => 'delete', :id => u.id}, :class => 'delete' %></li>
            <li><a href="#"><i class="icon-ban-circle"></i> Ban</a></li>
            <li class="divider"></li>
            <li><%= link_to raw('<i class="i"></i> Make admin'), {:controller => 'users', :action => 'make_admin', :id => u.id} %></li>
          </ul>
        </div>
      </td>
    </tr>
  <% end %>       
</tbody>
   
  <tfoot></tfoot>
</table>