<div class="row">
  <div class="span-one-third">
    <form action=<%= url_for(:controller =>'access', :action =>'attempt_login') %> class="form-stacked">
      <label for="username">Username </label>
      <input type="text" id="username" name="username" value="" />
      <label for="password">Password</label>
      <input type="password" id="password" name="password" value="" />
      <input type="submit" id="login_submit" name="login_submit" value="Login" />
    </form>
  </div>
</div>

