<div class="modal-header">
  <a href="#" class="close">×</a>
  <h3>Delete Incident?</h3>
</div>
<div class="modal-body" id="error-body">
  <p>
    Are you sure you want to delete <%= @import.incident_name %>?
  </p>

</div>

<div class="modal-footer">
  <a href="#" id="cancel" class="btn secondary">Cancel</a>
  <%= link_to 'Delete', {:controller => 'imports', :action => 'destroy', :id => @import.id}, :class => 'btn btn-primary', :method => :delete %>
  </form>
</div>