<%= javascript_include_tag "picker" %>

<div class="modal-header">
  <a href="#" class="close">×</a>
  <h3>Choose Incident</h3>

</div>
<div class="modal-body" id="error-body">
  <form id="pick-incident" action="<%= url_for(:controller => 'imports', :action => 'update_fod') %>" method="post">
  <table id="pick_incident" class="table">
    <tr>
      <th colspan="1"></th>
      <th colspan="1"></th>
      <th colspan="1">Event Name</th>
      <th colspan="1">Event ID</th>
      <th colspan="1">Event Date</th>
      <th colspan="1">Acres</th>
      <th colspan="1">State</th>
      <th colspan="1">Lat</th>
      <th colspan="1">Long</th>
      <th colspan="1">Is A Complex?</th>
      <th colspan="1">Which Complex?</th>
    </tr>

    <tr class="import-basic-details">
      <td></td>
      <td></td>
      <td><%= @import.incident_name %></td>
      <td><%= @import.event_id %></td>
      <td><%= @import.ig_date %></td>
      <td><%= @import.area_burned %></td>
      <td><%= @import.ig_state %></td>
      <td><%= @import.ig_lat %></td>
      <td><%= @import.ig_long %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td colspan="11">
        Choose the incident you wish to update:
      </td>
    </tr>
    <% fires.each do |fire| %>
      <%
        info_markup = "<div style='display:inline-block;width:380px;vertical-align:top'>
          <h4>#{@import.incident_name}</h4>"

          changed = (fire.event_id != @import.event_id) ? " class='changed'" : ""       
          info_markup += "<span style='font-weight:bold;' #{changed}'>"
          info_markup += "Event ID: <span id='import_event_id'>"
          info_markup += "#{@import.event_id}</span></span><br>"

          changed = (fire.irwinID != @import.irwinID) ? " class='changed'" : ""
          info_markup += "<span style='font-weight:bold;' #{changed}'>"
          info_markup += "IRWIN ID: <span id='import_irwin_id'>"
          info_markup += "#{@import.irwinID}</span></span><br>"

          changed = (fire.report_date != @import.report_date) ? " class='changed'" : ""
          info_markup += "<span style='font-weight:bold;' #{changed}'>"
          info_markup += "Report Date: <span id='import_report_date'>"
          info_markup += "#{@import.report_date}</span></span><br>"

          changed = (fire.incident_type != @import.incident_type) ? " class='changed'" : ""
          info_markup += "<span style='font-weight:bold;' #{changed}'>"
          info_markup += "Incident Type: <span id='import_incident_type'>"
          info_markup += "#{@import.incident_type}</span></span><br>"

          changed = (fire.ig_date != @import.ig_date) ? " class='changed'" : ""
          info_markup += "<span style='font-weight:bold;' #{changed}'>"
          info_markup += "Ignition Date: <span id='import_ig_date'>"
          info_markup += "#{@import.ig_date}</span></span><br>"

          changed = (fire.ig_lat != @import.ig_lat) ? " class='changed'" : ""
          info_markup += "<span style='font-weight:bold;' #{changed}'>"
          info_markup += "Latitude: <span id='import_ig_lat'>"
          info_markup += "#{@import.ig_lat}</span></span><br>"

          changed = (fire.ig_long != @import.ig_long) ? " class='changed'" : ""
          info_markup += "<span style='font-weight:bold;' #{changed}'>"
          info_markup += "Longitude: <span id='import_ig_long'>"
          info_markup += "#{@import.ig_long}</span></span><br>"

          changed = (fire.area_burned != @import.area_burned) ? " class='changed'" : ""
          info_markup += "<span style='font-weight:bold;' #{changed}'>"
          info_markup += "Acres: <span id='import_area_burned'>"
          info_markup += "#{@import.area_burned}</span></span><br>"

          changed = (fire.above_mapping_threshold != @import.above_mapping_threshold) ? " class='changed'" : ""
          info_markup += "<span style='font-weight:bold;' #{changed}'>"
          info_markup += "Above Mapping Threshold: <span id='above_mapping_threshold'>"
          info_markup += "#{@import.above_mapping_threshold}</span></span><br>"

          changed = (fire.percent_contained != @import.percent_contained) ? " class='changed'" : ""
          info_markup += "<span style='font-weight:bold;' #{changed}'>"
          info_markup += "Percent Contained: <span id='import_percent_contained'>"
          info_markup += "#{@import.percent_contained}%</span></span><br>"

          changed = (fire.expected_containment_date != @import.expected_containment_date) ? " class='changed'" : ""
          info_markup += "<span style='font-weight:bold;' #{changed}'>"
          info_markup += "Expected Containment Date: <span id='import_expected_containment_date'>"
          info_markup += "#{@import.expected_containment_date}</span></span><br>"

          changed = (fire.actual_containment_date != @import.actual_containment_date) ? " class='changed'" : ""
          info_markup += "<span style='font-weight:bold;' #{changed}'>"
          info_markup += "Actual Containment Date: <span id='import_actual_containment_date'>"
          info_markup += "#{@import.actual_containment_date}</span></span><br>"

          changed = (fire.ig_state != @import.ig_state) ? " class='changed'" : ""
          info_markup += "<span style='font-weight:bold;' #{changed}'>"
          info_markup += "State: <span id='import_ig_state'>"
          info_markup += "#{@import.ig_state}</span></span><br>"

          changed = (fire.ig_agency != @import.ig_agency) ? " class='changed'" : ""
          info_markup += "<span style='font-weight:bold;' #{changed}'>"
          info_markup += "Agency: <span id='import_ig_agency'>"
          info_markup += "#{@import.ig_agency}</span></span><br>"

          changed = (fire.ig_admin != @import.ig_admin) ? " class='changed'" : ""
          info_markup += "<span style='font-weight:bold;' #{changed}'>"
          info_markup += "Admin Unit: <span id='import_ig_admin'>"
          info_markup += "#{@import.ig_admin}</span></span><br>"

          changed = (fire.fregion != @import.fregion) ? " class='changed'" : ""
          info_markup += "<span style='font-weight:bold;' #{changed}'>"
          info_markup += "Region: <span id='import_fsregion'>"
          info_markup += "#{@import.fregion}</span></span><br>"

          changed = (fire.fuels != @import.fuels) ? " class='changed'" : ""
          info_markup += "<span style='font-weight:bold;' #{changed}'>"
          info_markup += "Fuels: <span id='import_fuels'>"
          info_markup += "#{@import.fuels}</span></span><br>"

          changed = (fire.general_location != @import.general_location) ? " class='changed'" : ""
          info_markup += "<span style='font-weight:bold;' #{changed}'>"
          info_markup += "Location: <span id='import_general_location'>"
          info_markup += "#{@import.general_location}</span></span><br>"

          changed = (fire.firecode != @import.firecode) ? " class='changed'" : ""
          info_markup += "<span style='font-weight:bold;' #{changed}'>"
          info_markup += "Firecode: <span id='import_firecode'>"
          info_markup += "#{@import.firecode}</span></span><br>"

        info_markup += "
        </div>
        <div style='display:inline-block;width:380px;vertical-align:top'>

          <h4>#{fire.incident_name} (in ETD)</h4>
          <span style='font-weight:bold;'>Event ID: #{fire.event_id}</span><br>
          <span style='font-weight:bold;'>IRWIN ID: #{fire.irwinID}</span><br>
          <span style='font-weight:bold;'>Report Date: #{fire.report_date}</span><br>
          <span style='font-weight:bold;'>Incident Type: #{fire.incident_type}</span><br>
          <span style='font-weight:bold;'>Ignition Date: #{fire.ig_date}</span><br>
          <span style='font-weight:bold;'>Latitude: #{fire.ig_lat}</span><br>
          <span style='font-weight:bold;'>Longitude: #{fire.ig_long}</span><br>
          <span style='font-weight:bold;'>Acres: #{fire.area_burned}</span><br>
          <span style='font-weight:bold;'>Above Mapping Threshold: #{fire.above_mapping_threshold} </span><br>
          <span style='font-weight:bold;'>Percent Contained: #{fire.percent_contained}%</span><br>
          <span style='font-weight:bold;'>Expected Containment Date: #{fire.expected_containment_date}</span><br>
          <span style='font-weight:bold;'>Actual Containment Date: #{fire.actual_containment_date}</span><br>
          <span style='font-weight:bold;'>State: #{fire.ig_state}</span><br>
          <span style='font-weight:bold;'>Agency: #{fire.ig_agency}</span><br>
          <span style='font-weight:bold;'>Admin Unit: #{fire.ig_admin}</span><br>
          <span style='font-weight:bold;'>Region: #{fire.fregion}</span><br>
          <span style='font-weight:bold;'>Fuels: #{fire.fuels}</span><br>
          <span style='font-weight:bold;'>Location: #{fire.general_location}</span><br>
          <span style='font-weight:bold;'>Firecode: #{fire.firecode}</span><br>
          <span style='font-weight:bold;'>Last Update from Gatekeeper: "

          info_markup += "#{fire.last_gatekeeper_update}</span><br>
        </div>".html_safe
      %>
      <input type="hidden" name="import_id" value="<%= @import.id %>">
      <tr class="incident-basic-details">
        <td>
          <i class="icon-info-sign"  data-title="Do you want to replace the fire on the right?" data-container="body" data-content="<%= info_markup %>" data-html="true" data-trigger="hover"></i>
        </td>
        <td><input type="checkbox" class="fod-incident import-picker" name="fire_id" value="<%= fire.id %>"></td>
        <td><%= fire.incident_name %></td>
        <td><%= fire.event_id %></td>
        <td><%= fire.ig_date %></td>
        <td><%= fire.area_burned %></td>
        <td><%= fire.ig_state %></td>
        <td><%= fire.ig_lat %></td>
        <td><%= fire.ig_long %></td>
        <td><%= fire.complex == 1 ? 'Y' : 'N' %></td>
        <td><%= fire.parent_complex ? fire.parent_complex.incident_name : '' %></td>
      </tr>
    <% end %>
  </table>
  
  <label for="picker_complex" name="picker_complex">Is This A Complex? 
    <input type ="checkbox" name="picker_complex" id="picker_complex" <%= @is_complex == 1 ? 'checked="checked"' : '' %> >
  </label>

  <label for="picker_part_of_complex">Part Of A Complex? 
    <input type ="checkbox" name="picker_part_of_complex" id="picker_part_of_complex" >
  </label>

  <label for="picker_which_complex">Which complex?</label>
  <select name="picker_which_complex" id="picker_which_complex">
    <option value=""></option>
    <% @complexes.each do |complex| %>
      <option value="<%= complex.id %>"><%= complex.incident_name %> - <%= complex.event_id %></option>
    <% end %>
  </select>
</div>

<div class="modal-footer">
  <a href="#" id="cancel" class="btn secondary">Cancel</a>
  <input class="btn btn-primary" name="commit" type="submit" id="update-submit" value="Update" />
  </form>
</div>

<script>
  $('.icon-info-sign').popover();

</script>