<div class="modal-header">
  <a href="#" class="close">×</a>
  <h3>Error</h3>
</div>
<div class="modal-body" id="error-body">
  <p>
    <strong>Error!</strong> This record does not yet exist in the FOD. Would you like to add it instead?
  </p>
</div>
<div class="modal-footer">
  <%= link_to 'Add', {:controller => 'imports', :action => 'add_to_fod', :id => @import.id}, :class => 'btn primary' %>
  <a href="#" id="cancel" class="btn secondary">Cancel</a>
</div>