<% if @import.errors.any? %>
  <div id="errorExplanation" class="alert alert-error">
    <h2><%= pluralize(@import.errors.count, "error") %> prohibited this request from being saved:</h2>
    <ul>
      <% @import.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_for(@import, :html => {:multipart => true, :id => 'fire_form', :class => ''}) do |f| %>
  <fieldset>
    <div id="required-fire-fields" class="alert alert-block alert-error">
        <h3>Required Fields:</h3>
        <%= f.label :ig_state, "State" %>
        <%= f.text_field :ig_state, :class => 'required' %>
        <%= f.label :ig_lat, "Latitude" %>
        <%= f.text_field :ig_lat, :class => 'required' %>
        <%= f.label :ig_long, "Longitude" %>
        <%= f.text_field :ig_long, :class => 'required' %>
        <%= f.label :ig_date, "Ignition Date" %>
        <%= f.text_field :ig_date, 'data-datepicker' => 'datepicker', :class => 'required' %>
        <%= f.label :incident_type, "Event Type" %>
        <% incident_types = ['Complex',
                             'Debris/Product Fire',
                             'False Alarm',
                             'Flooding',
                             'Law Enforcement',
                             'Out of Area Response',
                             'Other',
                             'Preparedness/Preposition',
                             'Prescribed Fire',
                             'Search and Rescue',
                             'Structure Fire',
                             'Incident/Event Support',
                             'Thunderstorm/Tornado/High Winds',
                             'Unknown',
                             'Vehicle Fire',
                             'Wildland Fire Use',
                             'Wildfire'] %>
        <%= f.select(:incident_type, incident_types, {}, :class => 'span6') %>
        <% data_source = [['ICS-209 = Incident Status Summary', "ics209"],
                          ['DISCO = Discovered Fire', "disco"],
                          ['FEDFIRE = Federal Fire Occurrence', "fedfire"],
                          ['FLRX = Prescribed Fire, State of Florida', "flrx"],
                          ['FLWF = Wildfire, State of Florida', "flwf"],
                          ['FWS = Fish & Wildlife Service', "fws"],
                          ['NFPORS = Natl Fire Plan Ops & Reporting System', "nfpors"],
                          ['GEOMAC = GeoMAC', "GEOMAC"],
                          ['TXWF = Wildfire, State of Texas', 'TXWF'],
                          ['REQUEST = Fire Mapping Requested', 'request']
                          ] %>
        <%= f.label :srcdb, "Data Source" %>
        <%= f.select(:srcdb, data_source, {}, :class => 'span6') %>
    </div>

    <div id="optional-fire-fields" class="alert alert-block">
      <h3>Optional Fields:</h3>
      <%= f.label :incident_name, "Event Name" %>
      <%= f.text_field(:incident_name, :class => 'span6') %>
      <%= f.label :area_burned, "Acres" %>
      <%= f.text_field :area_burned %>
      <%= f.label :percent_contained, "Percent Contained" %>
      <%= f.text_field :percent_contained %>
      <%= f.label :expected_containment_date, "Expected Containment Date" %>
      <%= f.text_field :expected_containment_date, 'data-datepicker' => 'datepicker' %>
      <%= f.label :actual_containment_date, "Actual Containment Date" %>
      <%= f.text_field :actual_containment_date, 'data-datepicker' => 'datepicker' %>
      <%= f.label :ig_agency, "Agency" %>
      <%= f.text_field :ig_agency %>
      <%= f.label :general_location, "Location Description" %>
      <%= f.text_area :general_location %>
    </div>

    <br>
  </fieldset>

  <div class="form-actions">
    <%= f.submit('Update',:class => 'btn btn-primary', :id => 'updateImport') %>
    <%= link_to 'Cancel', {:action => 'index'}, :class => 'btn' %>
  </div>
<% end %>
