<div id="legend">
  <div class="legend-example new-incident"></div>
  <span class="legend-text">Reported Incident</span>
  <div class="legend-example added-incident"></div>
  <span class="legend-text">Previously Added to ETD</span>
</div>
<table id="imports" class="table tablesorter">
  <thead>
    <tr>
      <th>Event Name</th>
      <th>Event ID</th>
      <th>Ignition Date</th>
      <th>IRWIN Updated</th>
      <th>Acres</th>
      <th>State</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @imports.each do |import| %>
      <tr
      <% if import.added_to_fod == 'TRUE' %>
        class="added-incident"
      <% else %>
        class="new-incident"
      <% end %>
      >
        <td><%= import.incident_name %></td>
        <td><%= import.event_id %></td>
        <td><%= import.ig_date %></td>
        <td><%= import.irwin_modifiedondatetime %></td>
        <td><%= import.area_burned %></td>
        <td><%= import.ig_state %></td>
        <td>
          <div class="btn-group">
          <% if import.added_to_fod == 'TRUE' %>
            <%= link_to "Add to ETD", {:controller => 'imports', :action => 'add_to_fod', :id => import.id}, :class => 'btn disabled' %>
          <% else %>
            <%= link_to "Add to ETD", {:controller => 'imports', :action => 'add_to_fod', :id => import.id}, :class => 'btn' %>
          <% end %>
          <%= link_to "Update ETD", {:controller => 'imports', :action => 'pick_incident', :id => import.id}, :class => 'btn update-fod' %>
          <%= link_to "Delete", {:controller => 'imports', :action => 'delete', :id => import.id}, :class => 'btn delete-incident'  %>
          <%= link_to "Edit", {:controller => 'imports', :action => 'edit', :id => import.id}, :class => 'btn' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
  <tfoot></tfoot>
</table>
<p class="disclaimer">
  Did the import not run? Try running it <%= link_to("manually", { :action => 'ingest'}) %>. (Note: takes up to 5 minutes.)
</p>
