<div class="modal-header">
  <a href="#" class="close">×</a>
  <h3>Confirm Delete</h3>
</div>
<div class="modal-body" id="confirm-body">
  <p>
    Are you sure you want to delete this mapping?
  </p>
</div>
<div class="modal-footer">
  <%= link_to 'Delete', {:controller => 'mappings', :action => 'destroy', :id => @mapping.id}, :class => 'btn btn-primary' %>
  <a href="#" id="cancel" data-dismiss="modal" class="btn secondary">Cancel</a>
</div>
