<h3>Mapping iterations</h3>
<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th>ID</th>
      <th>Program</th>
      <th>Prefire Scene</th>
      <th>Postfire Scene</th>
      <th>Mapper</th>
      <th>Pub Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @mappings.each do |m| %>
      <tr>
        <td>
          <%= m.id %>
        </td>
        <td>
          <%= m.program %>
        </td>
        <td>
          <%= m.prefire_scene_id %>
        </td>
        <td>
          <%= m.postfire_scene_id %>
        </td>
        <td>
          <%= m.username %>
        </td>
        <td>
          <%= m.pub_date %>
        </td>
        <td>
          <%= link_to 'View', {:controller => 'mappings', :action => 'show', :id => m.id} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
