<% mapping = @mappings[0] %>

<h3><%= mapping.program %> mapping for <%= mapping.event_id %> (<%= mapping.incident_name %>)</h3>

<div id="mapping-details">
  <p><strong>Mapping ID: </strong><%= mapping.id %></p>
  <p><strong>Assessment Strategy: </strong><%= mapping.strategy %></p>
  <p><strong>Prefire Sensor: </strong> <%= mapping.prefire_sensor %></p>
  <p><strong>Prefire Scene: </strong> <%= mapping.prefire_scene_id %></p>
  <p><strong>Postfire Sensor: </strong> <%= mapping.postfire_sensor %></p>
  <p><strong>Postfire Scene: </strong> <%= mapping.postfire_scene_id %></p>
  <p><strong>Perimeter Sensor: </strong> <%= mapping.perimeter_sensor %></p>
  <p><strong>Perimeter Scene: </strong> <%= mapping.perimeter_scene_id %></p>
  <p><strong>Analysis Type: </strong><%= mapping.analysis %></p>
  <p><strong>dNBR Offset: </strong><%= mapping.dnbr_offset %></p>
  <p><strong>SD Offset: </strong><%= mapping.sd_offset %></p>
  <p><strong>Perimeter Confidence: </strong><%= mapping.perimeter_confidence %></p>
  <p><strong>Perimeter Comments: </strong><%= mapping.perimeter_comments %></p>
  <p><strong>High Threshold: </strong><%= mapping.threshold3 %></p>
  <p><strong>Med Threshold: </strong><%= mapping.threshold2 %></p>
  <p><strong>Low Threshold: </strong><%= mapping.threshold1 %></p>
  
  <% if mapping.program == 'RAVG' %>
    <p><strong>RAVG Mapping Comments: </strong><%= mapping.ravg_mapping_comments %></p>
  <% elsif mapping.program == 'BAER' %>
    <p><strong>BAER Mapping Comments: </strong><%= mapping.baer_mapping_comments %></p>
  <% elsif mapping.program == 'NPS' %>
    <p><strong>NPS Mapping Comments: </strong><%= mapping.nps_mapping_comments %></p>
  <% elsif mapping.program == 'MISC' %>
    <p><strong>MISC Mapping Comments: </strong><%= mapping.misc_mapping_comments %></p>
  <% else %>
    <p><strong>MTBS Mapping Comments: </strong><%= mapping.mapping_comments %></p>
  <% end %>
  
  <p><strong>Mapping Status: </strong><%= mapping.status %></p>
  <% if mapping.status == 'not-mappable' %>
    <p><strong>Reason: </strong><%= mapping.unmappable_reason %></p>
      <% if mapping.unmappable_reason == 'other' %>
        <p><strong>Other (text that may have been entered): </strong><%=  %></p>
      <% end %>
  <% end %>
  <p><strong>Date Created: </strong><%= mapping.created_at %></p>
  <%= link_to raw('<i class="icon-arrow-left"></i> Back to Incident'), {:controller => 'fires', :action => 'show', :id => @mappings[0].fire_id}, {:class => 'btn'} %>
</div>
