<h3><%= @fire.incident_name %> - <%= @fire.event_id %></h3>
<div id="accordion2" class="accordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a href="#collapseOne" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">
        Image Information
      </a>
    </div>
    <div class="accordion-body collapse" id="collapseOne" style="height: 0px;">
      <div class="accordion-inner">
        <select name="prefire-scene" id="prefire-scene"></select>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a href="#collapseTwo" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">
        Mapping
      </a>
    </div>
    <div class="accordion-body collapse" id="collapseTwo" style="height: 0px;">
      <div class="accordion-inner">
        <div class="common-task-buttons">
          <a href="" class="btn">Run scene prep</a><br>
          <a href="" class="btn">Create fire-level directory</a><br>
          <a href="" class="btn">Delineate perimeter</a><br>
          <a href="" class="btn">Run fire prep</a>
        </div>
        <ul class="nav nav-tabs">
          <li class="active"><a href="#mtbs-mapping" data-toggle="tab">MTBS</a></li>
          <li><a href="#baer-mapping" data-toggle="tab">BAER</a></li>
          <li><a href="#ravg-mapping" data-toggle="tab">RAVG</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="mtbs-mapping">
            <h4>Map MTBS</h4>
            <%= form_for@mtbs_mapping, :html => {:class => 'form-inline'} do |f| %>
              <%= f.label :dnbr_offset, "dNBR Offset" %>
              <%= f.text_field :dnbr_offset %>
              <a id="mtbs-RdNBR" href="" class="btn btn-primary">Run RdNBR and subset.bat</a>
              <br>
              <div class="thresholds" style="margin-top:7px">
                <label for="mtbs_mapping_threshold1">Thresholds</label>
                <%= f.text_field :threshold1 %>
                <%= f.text_field :threshold2 %>
                <%= f.text_field :threshold3 %>
                <a id="dNBR_thresh" href="" class="btn btn-primary">dNBR Thresh</a>
              </div>
              <%= f.label :validated, "Validated" %>
              <%= f.check_box :validated %>
              <br>
              <a id="mtbs_batch" href="" class="btn btn-primary">Run Batch Processes</a>
            <% end %>
          </div>
          <div class="tab-pane" id="baer-mapping">
            <h4>Map BAER</h4>
            <%= form_for @baer_mapping, :html => {:class => 'form-inline'} do |f| %>
              <a href="" id="dNBR_to_BARC256" class="btn btn-primary">dNBR to BARC256</a>
              <br>
              <div class="thresholds" style="margin-top:7px">
                <label for="baer_mapping_threshold1">Thresholds</label>
                <%= f.text_field :threshold1 %>
                <%= f.text_field :threshold2 %>
                <%= f.text_field :threshold3 %>
                <a id="dNBR_to_BARC4" href="" class="btn btn-primary">dNBR To BARC4</a>
              </div>
              <%= f.label :validated, "Validated" %>
              <%= f.check_box :validated %>
              <br>
              <a id="baer_batch" href="" class="btn btn-primary">Run Batch Processes</a>
            <% end %>
          </div>
          <div class="tab-pane" id="ravg-mapping">
            <h4>Map RAVG</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a href="#collapseThree" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">
        Data Distribution
      </a>
    </div>
    <div class="accordion-body collapse" id="collapseThree" style="height: 0px;">
      <div class="accordion-inner">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#mtbs-distribute" data-toggle="tab">MTBS</a></li>
          <li><a href="#baer-distribute" data-toggle="tab">BAER</a></li>
          <li><a href="#ravg-distribute" data-toggle="tab">RAVG</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="mtbs-distribute">
            <h4>Distribute MTBS</h4>
          </div>
          <div class="tab-pane" id="baer-distribute">
            <h4>Distribute BAER</h4>
          </div>
          <div class="tab-pane" id="ravg-distribute">
            <h4>Distribute RAVG</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>