/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
#user-space {
  margin-bottom:12px;
}

#logo {
  float:left;
  margin-right:4px;
}

.spacer {
  width:18px;
}

.import-name {
  width:129px;
}

.event-id {
  width:148px;
}

.event-date {
  width:80px;
}

span.filter-label {
  float: right;
  margin-right: 4px;
  margin-top: 6px;
}

#filter-holder {
  float: right;
  margin-right: 185px;
}

.changed {
  color:red;
}

/*#fire-stats {
  background: url(yellow_paper.jpg) no-repeat;
  padding-left: 80px;
  padding-top: 32px;
}*/

#static-map {
  width:400px;
  height:300px;
  float:right;
  border: 9px solid #fff;
  -webkit-box-shadow: 1px 1px 4px 4px rgba(10, 10, 10, .3);
  -moz-box-shadow: 1px 1px 4px 4px rgba(10, 10, 10, .3);
  box-shadow: 1px 1px 4px 4px rgba(10, 10, 10, .3);
}

#fire-info {
  width:380px;
  line-height: 25.5px;
  margin: 7px 0 9px;
}

#fire_form textarea {
  width:300px;
  height:70px;
}

table.tablesorter thead tr .header {
    background-image: url("bg.gif");
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
    background-image: url("asc.gif");
}
table.tablesorter thead tr .headerSortDown {
    background-image: url("desc.gif");
}

.common-task-buttons {
  margin-bottom: 7px;
}
.common-task-buttons .btn {
  margin-bottom:3px;
  width:155px;
}

.thresholds input{
  width:30px;
}

.form-inline label {
  width:75px;
}

table#pick_incident {
  font-size: 12px;
}

/***************datepicker**************************/
.datepicker {
  background-color: #ffffff;
  border-color: #999;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  display: none;
  position: absolute;
  z-index: 900;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 18px;
  padding-bottom: 4px;
  width: 218px;
}
.datepicker .nav {
  font-weight: bold;
  width: 100%;
  padding: 4px 0;
  background-color: #f5f5f5;
  color: #808080;
  border-bottom: 1px solid #ddd;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
  zoom: 1;
}
.datepicker .nav:before, .datepicker .nav:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
.datepicker .nav:after {
  clear: both;
}
.datepicker .nav span {
  display: block;
  float: left;
  text-align: center;
  height: 28px;
  line-height: 28px;
  position: relative;
}
.datepicker .nav .bg {
  width: 100%;
  background-color: #fdf5d9;
  height: 28px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker .nav .fg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.datepicker .button {
  cursor: pointer;
  padding: 0 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker .button:hover {
  background-color: #808080;
  color: #ffffff;
}
.datepicker .months {
  float: left;
  margin-left: 4px;
}
.datepicker .months .name {
  width: 72px;
  padding: 0;
}
.datepicker .years {
  float: right;
  margin-right: 4px;
}
.datepicker .years .name {
  width: 36px;
  padding: 0;
}
.datepicker .dow, .datepicker .days div {
  float: left;
  width: 30px;
  line-height: 25px;
  text-align: center;
}
.datepicker .dow {
  font-weight: bold;
  color: #808080;
}
.datepicker .calendar {
  padding: 4px;
}
.datepicker .days div {
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker .days div:hover {
  background-color: #0064cd;
  color: #ffffff;
}
.datepicker .overlap {
  color: #bfbfbf;
}
.datepicker .today {
  background-color: #fee9cc;
}
.datepicker .selected {
  background-color: #bfbfbf;
  color: #ffffff;
}
th.fiery {
  min-width:37px;
  max-width:37px;
}

/* fix for bootstrap + google maps problems */
.gm-style img { max-width: none; }
.gm-style label { width: auto; display: inline; }