// Place all the styles related to the imports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-incident {
  background:#C4E7B6;
}

.previous-incident {
  background:#F2EAC0;
}

.added-incident {
  background:#f2dede;
}

div#legend {
  background:#ccc;
  padding:4px;
}

div#legend .legend-example {
  display:inline-block;
  width:24px;
  height:24px;
  vertical-align:middle;
  border:1px solid #fff;
  margin:4px;
}

div#update-modal {
  width:900px;
  margin-left:-450px;
}