<div class="modal-header">
  <a href="#" class="close">×</a>
  <h3>Confirm Delete</h3>
</div>
<div class="modal-body" id="confirm-body">
  <p>
    Are you sure you want to delete <em><%= @imagery_request.service_name %>?</em>
  </p>
</div>
<div class="modal-footer">
  <%= link_to 'Delete', {:controller => 'access', :action => 'destroy', :id => @imagery_request.id}, :class => 'btn primary' %>
  <a href="#" id="cancel" class="btn secondary">Cancel</a>
</div>


