<% unless flash[:notice].blank? %>
  <div class="alert alert-info">
    <i class="icon-info-sign icon-white"></i>
    <%= content_tag :span, flash[:notice] %>
    <a class="close" href="#">&times;</a>
  </div>
<% end %>

<% unless flash[:error].blank? %>
  <div class="alert alert-error">
    <i class="icon-exclamation-sign"></i>
    <%= content_tag :span, flash[:error] %>
    <a class="close" href="#">&times;</a>
  </div>
<% end %>

<% unless flash[:alert].blank? %>
  <div class="alert alert-success">
    <i class="icon-ok-sign icon-white"></i>
    <%= content_tag :span, flash[:alert] %>
    <a class="close" href="#">&times;</a>
  </div>
<% end %>