<div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
        <%= image_tag('fire_bw.png', :id => 'logo') %>
          <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%= link_to('Event Tracker Database', {:controller => 'fires', :action => 'index'}, :class => 'brand') %>
          <div class="nav-collapse">
            <ul class="nav">
              <% if  session[:user_id] %>
              <li class="">
                <%= link_to('IRWIN', {:controller => 'imports', :action => 'index'}) %>
              </li>
              <% end %>
              <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">Queries <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to '30 Days', :controller => 'fires', :action => 'index', :days => '30' %>
                  </li>
                  <li>
                    <%= link_to '60 Days', :controller => 'fires', :action => 'index', :days => '60' %>
                  </li>
                  <li>
                    <%= link_to '180 Days', :controller => 'fires', :action => 'index', :days => '180' %>
                  </li>
                  <li>
                    <%= link_to 'Last Year', :controller => 'fires', :action => 'index', :days => '365' %>
                  </li>
                  <li class="divider"></li>
                  <li class="">
                    <%= link_to('Search by Dates', {:controller => 'fires', :action => 'date_form'}) %>
                  </li>
                  <li class="">
                    <%= link_to('Advanced Search', {:controller => 'fires', :action => 'advanced_search'}) %>
                  </li>
                </ul>
              </li>

              <form action="<%= url_for(:controller => 'fires', :action => 'search_by_name') %>" class="navbar-search pull-left">
                <input type="text" placeholder="Search" class="search-query span2" name="incident_name">
              </form>
            </ul>
            <ul class="nav pull-right">
              <% if session[:user_id] %>
                <% if session[:isadmin] == true %>
                  <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">Admin Tasks <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li>
                        <%= link_to 'Administer Users', :controller => 'users', :action => 'index' %>
                      </li>
                      <li class="divider"></li>
                      <li>
                        <%= link_to 'Logout', logout_path %>
                      </li>
                    </ul>
                  </li>
                <% else %>
                  <li><%= link_to 'Logout', :controller => 'access', :action => 'logout' %></li>
                <% end %>
              <% else %>
                  <li><%= link_to 'Login', :controller => 'access', :action => 'login' %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>