
<div class="modal-header">
  <a class="close" data-dismiss="modal">×</a>
  <h3>Confirm Delete</h3>
</div>
<div class="modal-body" id="confirm-body">
  <p>
    Are you sure you want to delete <em><%= @user.full_name %>?</em>
  </p>
</div>
<div class="modal-footer">
  <%= link_to 'Delete', user_path, :method => :delete, :class => 'btn btn-primary' %>
  <a href="#" class="btn" data-dismiss="modal">Cancel</a>
</div>

