<!DOCTYPE html>
<html>
<head>
  <title>Event Tracker Database</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style type="text/css">
    body {
      padding-top:40px;
    }
  </style>
</head>
<body>
  <%= render :partial => 'common/topbar' %>
  <div class="container">
    <div class="content">
      <div class="page-header">

      </div>
      <div class="row">
        <div class="span12">
          <%= render :partial => 'common/flashes' %>
          <%= yield %>
        </div>
      </div>
      <footer>

      </footer>
    </div>
  </div>
  <div id="update-modal" class="modal hide fade">

  </div>
</body>
</html>
